*{
    padding: 0%;
    margin: 0%;
}
#mill{
    /* border: 2px solid crimson; */
    height: 450px;
    width: 45%;
}
#millimg{
    /* border: 2px solid orange; */
    height: 450px;
    width: 45%;
    display: flex;
    align-items: center;
}
#mill2{
    /* border: 2px solid blue; */
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#imgg{
    height: 400px;
    width: 650px;
    
}
#milh2{
    color:#FF3A2D ;
    font-size:43px ;
    font-family:Roboto,sans-serif ;
    align-content: center;
    margin-top: 40px;
    font-weight: 500;
}
#p1{
    font-size: 16px;
    font-family:Roboto, sans-serif;
    margin: 15px 0px;
    line-height: 1.75;
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 1.66em;
}
#btn2{
    background-color: #FF3A2D;
    color: white;
    height: 39px;
    width: 120.52px;
    border-radius: 5px;
    padding: 12px 12px;
    font-size: 15px;
    font-family:Roboto, sans-serif;
    border: none;
}
#btn2 a{
    color: white;
    text-decoration: none;
}